<template>
    <div class="modal">
        <div class="modal__form">
            <div class="modal__title">Документ, подтверждающий изменения</div>
            <div><input type="checkbox"> Использовать существующий документ</div>
            <div>
                <div>Файл.*</div>
                <div>Выберите файл</div><span>Файл не выбран</span>
                <input type="file" hidden>
            </div>
            <div>
                <div>Название.*</div>
                <div><input type="text" placeholder="Название"></div>
            </div>
            <div>
                <div>Тип документа:*</div>
                <div><input type="text" placeholder="Тип документа"></div>
            </div>
            <div>
                <div>Номер документа:</div>
                <div><input type="text" placeholder="Номер документа"></div>
            </div>
            <div>
                <div>
                    <div>Дата докумета:</div>
                    <div><span>icon</span></div>
                </div>
                <div>
                    <div>Срок:</div>
                    <div><span>icon</span></div>
                </div>
            </div>
            <div class="modal__row modal__row--controls">
                <div class="modal__controls">
                    <div class="btn modal__confirm">ОК</div>
                    <div class="btn modal__cancel" @click="onModalCancel">Отменить</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        methods: {
            onModalCancel() {
                this.$emit('modalcancel')
            }
        }
    }
</script>

<style scoped>
    .btn {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid;
        cursor: pointer;
    }

    .modal {
        background: rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__form {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        padding: 40px 30px;
        width: 60%;
    }

    .modal__row {
        display: flex;
    }

    .modal__row--controls {
        justify-content: flex-end;
    }

    .modal__controls {
        display: flex;
        flex-basis: 30%;
        justify-content: space-between;
    }

    .modal__confirm, .modal__cancel {
        flex-basis: 45%;
    }




</style>