<template>
  <div id="app">
    <aside class="left-vertical-bar">
      <div class="left-vertical-bar__item">(/Ports)</div>
      <div class="left-vertical-bar__item">(/PP/Statistics)</div>
      <div class="left-vertical-bar__item">(/PP/ReestrPP)</div>
      <div class="left-vertical-bar__item">(/PP/MapPP)</div>
      <div class="left-vertical-bar__item">(/PP/ReportsPP)</div>
    </aside>
    <main class="content">
      <header class="info content__item">
        <div class="title info__item">
          <div class="title__system">ИНФОРМАЦИОННО-АНАЛИТИЧЕСКАЯ СИСТЕМА РЕГУЛИРОВАНИЯ НА ТРАНСПОРТЕ</div>
          <div class="title__module">АРМ ВЕДЕНИЕ НОРМАТИВНОГО РЕЕСТРА ПУНКТОВ ПРОПУСКА</div>
        </div>
        <div class="user info__item">
          <div class="user-info user__item">
            <div class="user-info__icon">
              <img src="./assets/user_24px.png" alt="Пользователь">
            </div>
            <div class="user-meta user-info__meta">
              <div class="user-meta__last">Никитин</div>
              <div class="user-meta__name">Игорь Валентинович</div>
            </div>
          </div>
        </div>
        <div class="support info__item">
          <div class="support-info support__item">
            <div class="support-info__icon">
              <img src="./assets/headphones_24px.png" alt="Техническая поддержка">
            </div>
            <div class="support-meta support-info__meta">
              <div class="support-meta__text">Техническая поддержка</div>
              <div class="support-meta__phone">+7(495) 380 21 53</div>
            </div>
          </div>
        </div>
      </header>

      <section class="checkpoint">
        <section class="checkpoint-header">
          <div class="checkpoint-name checkpoint-header__item">
            <span class="checkpoint-name__item"><strong>ВПП Саратов</strong> (Центральный)</span>
          </div>
          <div class="checkpoint-control checkpoint-header__item">
            <div class="back-btn">
              <span class="back-btn__icon">icon</span>
              Вернуться к реестру
            </div>
          </div>
        </section>
        <section class="checkpoint-tabs">
<!--          <svg style="display: none;">-->
<!--            <symbol id="tab-shape" viewBox="0 0 23 30">-->
<!--              <path id="tab-shape" class="tab-shape" d="M116.486,29.036c-23.582-8-14.821-29-42.018-29h-62.4C5.441,0.036,0,5.376,0,12.003v28.033h122v-11H116.486z"/>-->
<!--            </symbol>-->
<!--          </svg>-->
          <div class="checkpoint-tabs__item">Паспорт пункта пропуска</div>
          <div class="checkpoint-tabs__item">Сведения</div>
          <div class="checkpoint-tabs__item">Документы</div>
          <div class="checkpoint-tabs__item">Эксплуатация</div>
        </section>
        <section class="checkpoint-controls">
          <div class="checkpoint-main-control checkpoint-controls__item">
            <div class="checkpoint-passport checkpoint-main-control__item">
              Конфигурация отчета:
              <select class="checkpoint-passport-select" id="checkpoint-passport" name="checkpoint-passport">
                <option value="0">Паспорт ПП</option>
              </select>
            </div>
            <div class="generate-report-btn checkpoint-main-control__item">
              <span class="generate-report-btn__icon">icon</span>
              Cформировать отчет
            </div>
          </div>
          <div class="checkpoint-second-control checkpoint-controls__item">
            <div class="show-map-btn checkpoint-second-control__item">
              <span class="generate-report-btn__icon">icon</span>
              Показать на карте
            </div>
            <div class="history-btn checkpoint-second-control__item">
              <span class="generate-report-btn__icon">icon</span>
              История
            </div>
          </div>
        </section>
        <section class="checkpoint-categories">
          <div
                  class="checkpoint-category checkpoint-categories__category"
                  :class="{
                  'checkpoint-categories__category--opened':
                  category.name === 'ЗАЛ ДЛЯ ОФИЦИАЛЬНЫХ ЛИЦ И ДЕЛЕГАЦИЙ' ||
                  category.name === 'ДОПУСТИМОСТЬ ПРИБЫТИЯ/УБЫТИЯ ОТДЕЛЬНЫХ ВИДОВ МАТЕРИАЛОВ/ТОВАРОВ/ИЗДЕЛИЙ:',
                  'checkpoint-categories__category--edit': category.name === 'ДОПУСТИМОСТЬ ПРИБЫТИЯ/УБЫТИЯ ОТДЕЛЬНЫХ ВИДОВ МАТЕРИАЛОВ/ТОВАРОВ/ИЗДЕЛИЙ:'
                  }"
                  v-for="category in categories"
          >
            <div class="checkpoint-category-header checkpoint-category__item">
              <span class="checkpoint-category-header__title">{{ category.name }}</span>
              <div class="checkpoint-category-header-controls checkpoint-category-header__controls">
                <span class="checkpoint-category-controls-edit checkpoint-category-controls__item" @click="onEditCategoryClick">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width=16px height="16px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                       xml:space="preserve">
                      <g>
                        <path fill="#FFFFFF" d="M504.843,72.607L439.386,7.15c-9.534-9.534-25.048-9.533-34.582,0L281.561,130.392c-3.086,3.087-3.086,8.089,0,11.176
                            c3.086,3.085,8.089,3.085,11.175,0L415.978,18.326c1.634-1.634,3.806-2.533,6.116-2.533s4.482,0.899,6.116,2.533l65.458,65.457
                            c1.633,1.633,2.533,3.805,2.533,6.116c0,2.31-0.9,4.482-2.533,6.115l-16.064,16.064L435.515,69.99
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l42.088,42.088l-18.353,18.353l-18.498-18.498
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l18.498,18.497l-18.353,18.353l-18.498-18.498
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l18.498,18.497l-18.353,18.353l-42.089-42.09
                            c-3.085-3.084-8.089-3.086-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l42.089,42.089l-18.353,18.353l-18.498-18.498
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l18.497,18.497l-15.526,15.526L255.1,179.203l14.45-14.451
                            c3.086-3.087,3.086-8.089,0-11.176c-3.086-3.085-8.089-3.085-11.175,0l-14.451,14.451L98.156,22.264
                            C88.018,12.126,74.539,6.543,60.202,6.543c-14.337,0.001-27.816,5.584-37.953,15.722C12.11,32.403,6.527,45.881,6.527,60.219
                            c0,14.337,5.583,27.816,15.721,37.954l145.765,145.765L7.157,404.797c-9.534,9.535-9.534,25.048,0,34.583l65.457,65.458
                            C77.232,509.456,83.373,512,89.905,512c6.532,0,12.673-2.544,17.291-7.162L268.054,343.98l11.457,11.457
                            c3.086,3.085,8.089,3.085,11.175,0c3.086-3.087,3.086-8.089,0-11.176l-15.814-15.814c-0.307-0.486-0.667-0.948-1.09-1.371
                            c-0.423-0.423-0.885-0.783-1.37-1.09L101.189,154.763l21.191-21.191l13.102,13.102c1.543,1.542,3.565,2.314,5.588,2.314
                            s4.045-0.772,5.588-2.314c3.086-3.087,3.086-8.089,0-11.176l-13.101-13.101l21.191-21.191l83.579,83.579
                            c0.003,0.004,0.006,0.007,0.01,0.011c0.004,0.004,0.007,0.006,0.011,0.01l88.081,88.081c0.218,0.288,0.45,0.57,0.713,0.833
                            s0.544,0.495,0.832,0.713l117.268,117.268l-21.191,21.191L305.735,294.576c-0.071-0.077-0.135-0.158-0.21-0.232l-47.182-47.183
                            c-0.078-0.078-0.163-0.146-0.243-0.22l-83.343-83.342c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176
                            l249.291,249.291l-21.192,21.191l-75.096-75.097c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176
                            l80.684,80.684c0.767,0.767,1.717,1.386,2.728,1.778l95.478,37.069c1.506,0.584,3.076,0.868,4.634,0.868
                            c3.342,0,6.624-1.308,9.073-3.759c3.591-3.593,4.721-8.973,2.88-13.707l-37.108-95.434c-0.392-1.008-1.011-1.96-1.777-2.725
                            L343.963,268.071l160.88-160.881C514.378,97.655,514.378,82.142,504.843,72.607z M256.882,332.805l-15.507,15.503l-18.498-18.498
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l18.498,18.498l-18.353,18.353l-42.089-42.089
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l42.089,42.089l-18.353,18.353l-18.498-18.498
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l18.498,18.497l-18.353,18.353l-18.498-18.498
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l18.498,18.498l-18.353,18.353l-42.089-42.089
                            c-3.086-3.085-8.089-3.085-11.175,0c-3.086,3.087-3.086,8.089,0,11.176l42.089,42.088l-16.064,16.064
                            c-1.634,1.634-3.806,2.534-6.116,2.534s-4.482-0.9-6.116-2.534l-65.457-65.458c-3.372-3.372-3.372-8.859,0-12.231l160.857-160.858
                            L256.882,332.805z M33.423,86.998c-14.766-14.766-14.766-38.792,0-53.558c14.766-14.767,38.792-14.767,53.558,0l24.976,24.976
                            l-53.558,53.558L33.423,86.998z M116.798,116.803c-0.002,0.002-0.004,0.003-0.005,0.005c-0.002,0.002-0.003,0.004-0.005,0.005
                            l-26.774,26.774l-20.439-20.439l53.558-53.558l20.439,20.439L116.798,116.803z M483.703,483.681l-77.864-30.229l47.601-47.601
                            L483.703,483.681z"/>
                          </g>
                    </svg>
                </span>
                <span class="checkpoint-category-controls-open checkpoint-category-controls__item" @click="onArrowClick">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width=16px height="16px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;"
                     xml:space="preserve">
                    <g>
                        <path fill="#FFFFFF" d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
                            L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
                            c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                    </g>
                  </svg>
                </span>
              </div>
            </div>
            <div class="checkpoint-category-content checkpoint-category__item">
              <div class="checkpoint-category-params checkpoint-category-content__params">
                <div class="checkpoint-category-param" v-for="(param, index) in category.params">
                  <div class="checkpoint-category-param__name">{{ param.name }}</div>
                  <div class="checkpoint-category-param__controls">
                    <label class="control radio_st">
                      Да
                      <input type="radio" :name="'radio' + index">
                      <div class="gird_input"></div>
                    </label>

                    <label class="control radio_st">
                      Нет
                      <input type="radio" :name="'radio' + index">
                      <div class="gird_input"></div>
                    </label>

                    <div class="checkpoint-category-param-clear"><span>icon</span> Очистить</div>
                  </div>
                </div>
                <div class="checkpoint-category-params-controls checkpoint-category-params__controls">
                  <div class="checkpoint-category-params-save-btn checkpoint-category-params-controls__item" @click="onSaveClick"><span>icon</span> Сохранить</div>
                  <div class="checkpoint-category-params-cancel-btn checkpoint-category-params-controls__item" @click="onCancelClick"><span>icon</span> Отмена</div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkpoint-category checkpoint-categories__category">
            <div class="checkpoint-category-header checkpoint-category__item" style="background: #F34B6F">
              <span class="checkpoint-category-header__title">ВЕРИФИКАЦИЯ СВЕДЕНИЙ ПО ПУНКТАМ ПРОПУСКА</span>
            </div>
            <div class="checkpoint-category-content checkpoint-category__item"></div>
          </div>
        </section>
      </section>
    </main>
    <app-modal v-if="!isModalHidden" @modalcancel="onModalCancel"></app-modal>
  </div>
</template>

<script>
  import Modal from './components/Modal.vue'

export default {
  name: 'app',
  components: {
    'app-modal': Modal
  },
  data() {
    return {
      isModalHidden: true,
      categories: [
        {
          name: 'ОБЩИЕ ДАННЫЕ',
          params: []
        },
        {
          name: 'ПРОПУСКНАЯ СПОСОБНОСТЬ В СУТКИ, ЧАС (СОГЛАСНО ПРОЕКТНОЙ ДОКУМЕНТАЦИИ)',
          params: []
        },
        {
          name: 'НАЛИЧИЕ СИСТЕМ И ТЕХНИЧЕСКИХ СРЕДСТВ КОНТРОЛЯ',
          params: []
        },
        {
          name: 'ПОГРАНИЧНЫЙ КОНТРОЛЬ',
          params: []
        },
        {
          name: 'ТАМОЖЕННЫЙ КОНТРОЛЬ',
          params: []
        },
        {
          name: 'САНИТАРНО-КАРАНТИННЫЙ КОНТРОЛЬ',
          params: []
        },
        {
          name: 'ВЕТЕРИНАРНЫЙ КОНТРОЛЬ',
          params: []
        },
        {
          name: 'КАРАНТИННЫЙ ФИТОСАНИТАРНЫЙ КОНТРОЛЬ',
          params: []
        },
        {
          name: 'ТРАНСПОРТНЫЙ КОНТРОЛЬ',
          params: []
        },
        {
          name: 'СООТВЕТСТВИЕ ПУНКТА ПРОПУСКА НОРМАТИВНЫМ ТРЕБОВАНИЯМ ГКО:',
          params: []
        },
        {
          name: 'МАГАЗИН БЕСПОШЛИННОЙ ТОРГОВЛИ',
          params: []
        },
        {
          name: 'ВИП-ЗАЛ (ВИП-ТЕРМИНАЛ)',
          params: []
        },
        {
          name: 'ЗАЛ ДЛЯ ОФИЦИАЛЬНЫХ ЛИЦ И ДЕЛЕГАЦИЙ',
          params: [
            {
              name: 'Наличие зала для официальных лиц и делегаций',
              type: 'bool',
              val: true
            },
            {
              name: 'Реквизиты акта об открытии',
              type: 'string',
            },
            {
              name: 'Наименование юридического лица, в ведении которого находится',
              type: 'string',
            },
          ]
        },
        {
          name: 'ДОПУСТИМОСТЬ ПРИБЫТИЯ/УБЫТИЯ ОТДЕЛЬНЫХ ВИДОВ МАТЕРИАЛОВ/ТОВАРОВ/ИЗДЕЛИЙ:',
          params: [
            {
              name: 'Прибытие этилового спирта, алкогольной продукции и табачных изделий',
              type: 'bool',
              val: true
            },
            {
              name: 'Прибытие озоноразрушающих веществ',
              type: 'bool',
              val: true
            },
            {
              name: 'Прибытие и убытие ядерных материалов, а также содержащих их товаров',
              type: 'bool',
              val: true
            },
            {
              name: 'Убытие отдельных товарных позиций группы 44 ТН ВЭД ТС',
              type: 'bool',
              val: true
            },
          ]
        },
      ]
    }
  },
  methods: {
    onArrowClick(evt) {
      const actionBtn = evt.currentTarget;
      const categoryEl = actionBtn.closest('.checkpoint-category');

      if (categoryEl.classList.contains('checkpoint-categories__category--edit'))
        categoryEl.classList.remove('checkpoint-categories__category--edit');

      categoryEl.classList.toggle('checkpoint-categories__category--opened');
    },
    onEditCategoryClick(evt) {
      const editBtn = evt.currentTarget;
      const categoryEl = editBtn.closest('.checkpoint-category');
      categoryEl.classList.toggle('checkpoint-categories__category--edit');
    },
    onSaveClick() {
      this.isModalHidden = false;
    },
    onModalCancel() {
      this.isModalHidden = true;
    },
    onCancelClick(evt) {
      const editBtn = evt.currentTarget;
      const categoryEl = editBtn.closest('.checkpoint-category');
      categoryEl.classList.remove('checkpoint-categories__category--edit');
    }
  }

}
</script>

<style>
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .left-vertical-bar {
    background: #FFFFFF;
    width: 90px;
    height: 100%;
    position: absolute;
    box-shadow: 5px 0 5px -5px #333333;
  }

  .left-vertical-bar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 10px;
    border-bottom: 1px solid #EDEEF0;
    cursor: pointer;
    color: #9FB8CF;
  }

  .left-vertical-bar__item:hover {
    background: #EDEEF0;
  }

  .left-vertical-bar__item:active {
    color: #028EFA;
  }

  .content {
    background: #FFFFFF;
    margin: 0 0 0 90px;
    max-width: 1080px;
    border: 1px solid #EDEEF0;
  }

  .info {
    display: flex;
    max-height: 70px;
    border-bottom: 1px solid #EDEEF0;
  }

  .info__item:not(:last-child) {
    display: flex;
    border-right: 1px solid #EDEEF0;
  }

  .title {
    width: 626px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px;
  }

  .title__system {
    display: flex;
    font-size: 13px;
    color: #34445D;
    font-weight: bold;
  }

  .title__module {
    display: flex;
    margin-top: 10px;
    font-size: 10px;
  }

  .user {
    width: 210px;
    padding: 20px;
    flex-direction: row;
  }

  .user__item {
    display: flex;
  }

  .user-info__icon {
    display: flex;
    align-self: center;
  }

  .user-meta {
    flex-direction: column;
    padding: 0 10px;
    color: #608AA8;
  }

  .user-meta__last {
    display: flex;
    text-transform: uppercase;
  }

  .user-meta__name {
    display: flex;
    font-size: 12px;
  }

  .support {
    width: 244px;
    padding: 20px;
  }

  .support__item {
    display: flex;
  }

  .support-info__icon {
    display: flex;
    align-self: center;
  }

  .support-meta {
    flex-direction: column;
    padding: 0 10px;
    color: #098EF4;
  }

  .support-meta__text {
    display: flex;
    font-size: 12px;
  }

  .support-meta__phone {
    display: flex;
    font-size: 12px;
  }

  .checkpoint-header {
    display: flex;
    padding: 20px 30px;
    max-height: 70px;
  }

  .checkpoint-header__item {
    flex-basis: 50%;
  }

  .checkpoint-name {
    display: flex;
    font-size: 26px;
  }

  .checkpoint-control {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .back-btn {
    padding: 5px 15px;
    max-width: 195px;
    border: 1px solid #0090FD;
    border-radius: 5px;
    font-size: 14px;
    color: #018FFF;
    background: #ECF3FD;
    cursor: pointer;
  }

  .checkpoint-tabs {
    padding: 5px 30px 0;
    display: flex;
    overflow: hidden;
  }

  .checkpoint-tabs__item {
    color: #364355;
    border-radius: 8px 8px 0 0;
    background: #FFFFFF;
    padding: 15px 24px 8px 0;
    margin-right: 54px;
    box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
    font-size: 18px;
    cursor: pointer;
    position: relative;
  }

  .checkpoint-tabs__item--active {
    background: #EBEEF5;
  }

  .checkpoint-tabs__item:before,
  .checkpoint-tabs__item:after  {
    border-radius: 8px 8px 0 0;
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: #FFFFFF;
    transition: all 250ms ease;
  }

  .checkpoint-tabs__item--active:before,
  .checkpoint-tabs__item--active:after{
    background: #EBEEF5;
  }


  .checkpoint-tabs__item:before {
    right: -10px;
    transform: skew(30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
    z-index: 3;
  }

  .checkpoint-tabs__item:after {
    left: -44px;
    transform: skew(-30deg, 0deg);
    box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
  }

  .checkpoint-controls {
    background: #EBEEF5;
    padding: 15px 30px;
    display: flex;
    border: 1px solid #D4D7E0;
  }

  .checkpoint-controls__item {
    display: flex;
  }

  .checkpoint-passport {
    color: #8B9BAD;
  }

  .checkpoint-main-control {
    flex-basis: 68%;
  }

  .checkpoint-main-control__item {
    margin-right: 10px;
    border-radius: 5px;
  }

  .checkpoint-passport-select {
    width: 270px;
    padding: 5px;
    border-radius: 5px;
    border-color: #A5B9D3;
    color: #8B9BAD;
    outline: none;
  }

  .generate-report-btn {
    padding: 5px;
    background: #008FFF;
    color: #FFFFFF;
    cursor: pointer;
  }

  .checkpoint-second-control {
    display: flex;
    justify-content: flex-end;
    flex-basis: 32%;
  }

  .checkpoint-second-control__item {
    margin-left: 10px;
    background: #A5BACF;
    border-radius: 5px;
  }

  .show-map-btn {
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .history-btn {
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .checkpoint-categories {
    padding: 20px 30px;
    background: #EBEEF5;
  }

  .checkpoint-category {
    margin-bottom: 5px;
  }

  .checkpoint-category-header {
    padding: 10px;
    background: #45A6F7;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    color: #FFFFFF;
  }

  .checkpoint-category-header__title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .checkpoint-category-header__controls {
    display: flex;
  }

  .checkpoint-category-controls__item {
    cursor: pointer;
    margin-left: 10px;
  }

  .checkpoint-category-controls-open {
    transition: transform .5s ease-in-out;
  }

  .checkpoint-category-controls-edit {
    visibility: hidden;
    /*display: none;*/
    opacity: 0;
    transition: opacity .4s ease-in-out;
  }

  .checkpoint-categories__category--opened .checkpoint-category-controls-open {
    transform: rotate(90deg);
  }

  .checkpoint-categories__category--opened .checkpoint-category-controls-edit {
    /*display: block;*/
    opacity: 1;
    visibility: visible;
  }

  .checkpoint-categories__category--opened .checkpoint-category-header {
    border-radius: 5px 5px 0 0;
  }

  .checkpoint-categories__category--edit .checkpoint-category-header {
    background: #10C5BC;
  }

  .checkpoint-category-content {
    position: relative;
    display: none;
  }

  .checkpoint-categories__category--opened .checkpoint-category-content {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: flex-start;
  }

  .checkpoint-category-content__params {
    font-size: 12px;
  }

  .checkpoint-category-param__name {
    display: flex;
    margin-bottom: 10px;
    color: #608CA5;
  }

  .checkpoint-category-param__controls {
    display: flex;
  }

  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .gird_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px solid #eee;
  }

  .radio_st .gird_input {
    border-radius: 50%;
  }

  .control:hover input:not([disabled]) ~ .gird_input,
  .control input:focus ~ .gird_input {
    border-color: #34bb92;
  }

  .control input:checked ~ .gird_input {
    background: #fff;
  }

  .control input:disabled ~ .gird_input {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }

  .gird_input:after {
    content: '';
    position: absolute;
    display: none;
  }

  .control input:checked ~ .gird_input:after {
    display: block;
  }

  .radio_st .gird_input:after {
    left: 5px;
    top: 5px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #34bb92;
  }

  .radio_st input:disabled ~ .gird_input:after {
    background: #7b7b7b;
  }

  .checkpoint-category-params {
    width: 100%;
  }

  .checkpoint-category-params__controls {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 20px;
  }

  .checkpoint-category-param-clear {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    display: none;
  }

  .checkpoint-categories__category--edit .checkpoint-category-param-clear {
    display: flex;
  }

  .checkpoint-categories__category--edit .checkpoint-category-params__controls {
    display: flex;
  }

  .checkpoint-categories__category--edit .checkpoint-category-param {
    display: flex;
    flex-direction: row;
  }

  .checkpoint-categories__category--edit .checkpoint-category-param__name {
    flex-basis: 50%;
  }

  .checkpoint-categories__category--edit .checkpoint-category-param__controls {

  }

  .checkpoint-category-params-controls__item {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
  }

  .checkpoint-category-params-save-btn {
    background: #10C5BC;
    cursor: pointer;
  }

  .checkpoint-category-params-cancel-btn {
    background: #A5B9D1;
    cursor: pointer;
  }

</style>
